body{
    background-image: url('/assets/images/Dirt_background_JE2.png');
   

}
@font-face {
    font-family: 'Minecraftia'; /* Name your font family */
    src: url('/assets/fonts/Minecraftia-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }
  
  .text {
    color: white;
    font-family: 'Minecraftia', sans-serif; /* Use the font family */
  }

  .links{
    text-decoration:none;
    color: yellow;
    font-family: 'Minecraftia', sans-serif; /* Use the font family */
  }

 .image{
    height: 250px;
    outline: rgb(0, 0, 0);
    outline-width: 5px;
    outline-style:solid;
    
 }

